@tailwind base;
@tailwind components;
@tailwind utilities;

/*@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes zoomIn {
  to { transform: scale(1) }
}

@keyframes slideIn {
  from { transform: translateX(100%) }
  to { transform: translateX(0) }
}
*/